/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-color: #dcdadb;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 16px;
    border: none;
    margin: 0.5em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
    Andres Aldana M
   ========================================================================== */

header{
    padding: 0;
    margin: 0;
    background-color: #830207;
    width: 100%;
}
header > div{
    background: url(../img/barra.jpg) no-repeat;
    padding: 2.5em 0;
}
header > div > * {display: inline-block;}

h1{
    text-shadow: -1px -1px 2px #000;
    font-size: 2em;
    margin-right: 0.4em;
    margin-left: 0.8em;
    color: #e5e5e5;
}
h2, h3, h4{text-shadow: -1px -1px 2px white;}
h2{
    font-size: 3.5em;
    margin: 0;
}
h3{
    font-size: 2em;
    margin-top: 0;
    color: #b92121;
}
h4{
    margin-top: 0;
}
section{
    padding: 1em;
}
ul{
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul > li{
    color: #4c494a;
    text-shadow: -2px -2px 2px #fff;
    margin: 0.6em 0;
}
p{
    text-shadow: -2px -2px 2px #fff;
    color: #4c494a;
}

/********* Clases ************************/
.vertical-line-header, #vertical-line, #social > a{
     background: url(../img/sprites.png) no-repeat;
}
.horizontal-sup, .horizontal-inf{
    background: url(../img/barras.png) no-repeat;
}
.horizontal-sup{   
    background-position: 0 0;
}
.horizontal-inf{   
    background-position: 0 -42px;
}
.center{
    position: relative;
    width: 950px;
    margin: 0 auto;
}

.vertical-line-header, #vertical-line{
    width: 3px;
}
.vertical-line-header{
    background-position: -17px -43px;
    height: 1.7em;
}
#vertical-line{
    background-position: -5px -10px;
    height: 18em;
}
.info{
    margin: 1.6em 0;
    vertical-align: top;
}
.info > *{
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
/********* Id ****************************/
#logo-header{
    position: absolute;
    top: 0;
    right: 0;
    height: 10.4em;
    width: 400px;
    z-index: 2;
    background: url(../img/fig.png) no-repeat;
}
#content{
    margin-top: 6em;
}
#content > *{
    text-align: center;
}
#img-logo{
    margin-top: 5px;
    vertical-align: baseline;
}
#section-logo{
    text-align: right;
    width: 340px;
}
#casco{
    position: absolute;
    top: -145px;
    right: 375px;
    width: 180px;
    height: 136px;
    background: url(../img/casco.png) no-repeat;
    z-index: 3;
}
#social{
    position: absolute;
    top: -86px;
    right: 0px;
    z-index: 4;
}
#social > a{
    display: inline-block;
    width: 44px;
    height: 43px;
}
#social > a:hover{animation: pulse 0.5s;}
#face{
    background-position: -16px -122px !important;
}
#tweeter{
    background-position: -16px -218px !important;
}
#google{
    background-position: -16px -76px !important;
}
#rss{
    background-position: -16px -170px !important;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 50em) {
    /* Style adjustments for viewports that meet the condition */
    #logo-header{display: none;}
    #content, .center{width: 100%;}
    #section-logo{text-align: center;width: 230px;}
    #casco{position: relative;margin: 0 auto;top: 0;left:0;}
    .vertical-line-header, #vertical-line{display: none;}
    hr{display: none;}
    h2{font-size: 2em;}
    h3{font-size: 1em;}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.1),
       only screen and (min-resolution: 300dpi) {
    /* Style adjustments for high resolution devices */
    #logo-header{display: none;}
    #content, .center{width: 100%;}
    #section-logo{text-align: center;width: 230px}
    #casco{position: relative;margin: 0 auto;top: 0;left:0;}
    .vertical-line-header, #vertical-line{display: none;}
    hr{display: none;}
    h2{font-size: 2em;}
    h3{font-size: 1em;}
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
